html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    width : 100%;
    height : 100%;
}

input {
	-moz-border-radius: 15px;
	border-radius : 15px;
	border :solid 1px black;
	padding :5px;
}

#logo{
	width :100px;
}

#head{
    color: #44459f;
    font-family:"quicksand";
    font-weight:bold;
    text-align: right;
    margin-top: 30px;
}

.nav-link{
    font-family:"quicksand";
}

#text-onlibe{
    margin-top: 28px;
	width: 140px; 
	display :inline
}

.col-md-7{
    padding-right: 0px;
}

.col-md-5{
    padding-left: 5px;
}

#warning{
    left : 50%; 
    top : 50%;
    margin: auto; 
    font-family: Quicksand;
    color : #fd913c;
    font-weight: bold;
}

.btn-log{
    margin: auto;
    background-color: #44459F;
    color : white;
    border-radius: 5px;
    width : 30%;
    margin-top : 2%;
    margin-bottom : 2%;
}

.aaw{
    margin:auto;
    align-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#title{
    font-family: Quicksand;
    color : #665CA8;
    font-weight: bold;
    font-size: 80px;
    margin-top: 80px;
    }
#foto{
    margin-top: 80px;
    margin-left: 80px;
    width: 200px;
    }
#details{
    font-family: Quicksand;
    font-size: 20px;
    }
#addreview{
    margin-top: 110px;
    font-family: Quicksand;
    font-weight: bold;
    }

.btn-revbutton{
    left: 50%;
    background-color: #FD913C;
    color : white;
    border-radius: 5px;

}
div.bg-modal{
        justify-content: center;
        align-items: center;
        margin:auto;
        padding:auto;
        width: 100%;
        height:100%;
        background-color: rgba(255,255,255,0.7);
        position: absolute;
        top:0;
        left:0;
        display:flex;
        display: none;
    }

    div.modal-content{
        position:relative;
        width : 250px;
        height: auto;
        background-color: white;
        opacity:1;
        border-radius : 4px;
        padding:auto;
        margin:auto;
    }

    #reviewTitle{
        font-family: Quicksand;
        font-size: 2vw;
        color: #FD913C;
        text-align:center;
        padding-top:2%;
    }

    .btn-add{
        width:100%;
        min-width: 50px;
        max-width:132px;
        max-height:45px;
        background-color: #FD913C;
        color : white;
        border-radius: 5px;
        font-family: Quicksand;
        display: inline-block;

    }

    .close{
        float:right;
        right : 14px;
        position:absolute;
        transform: rotate(45deg);
        top: 2%;
        cursor: pointer;
    }