#title{
    color: #44459f;
    font-family: 'Quicksand', sans-serif;
    text-align: right;
    margin-top: 30px;}
.nav-link{
    font-family: 'Quicksand', sans-serif;}
#text-onlibe{
    margin-top: 28px;}
.col-md-7{
    padding-right: 0px;}
.col-md-5{
    padding-left: 5px;}
#title2{
    color: #44459f;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    }
#books{
    font-family: 'Quicksand', sans-serif;;
    color: #fd913c;
    margin-left: 100px;
    margin-top: 50px;}
.col-sm-4{
    padding: 0px;}

    #warning{
        left : 50%; 
        top : 50%;
        margin: auto; 
        font-family: Quicksand;
        color : #fd913c;
        font-weight: bold;
    }
    
    .btn-log{
        margin: auto;
        background-color: #44459F;
        color : white;
        border-radius: 5px;
        width : 30%;
        margin-top : 2%;
        margin-bottom : 2%;
    }
    
    .aaw{
        margin:auto;
        align-content: center;
        align-items: center;
        text-align: center;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }