<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
 	
 	<head>
    	
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- App CSS Link -->
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">

    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

    <!-- Quicksand Font Link -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

    <!-- Website Page Title  -->
    <title>Signin Page - OnLibe2</title>

  </head>

  <body style="background-color: #ccc;">

  	<!-- Bootstrap Sticky Navbar -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">

      <!-- Navbar Brand/Logo -->
      <a class="navbar-brand" href="{% url 'homepage:home' %}">
        <img src="{% static 'images/onlibe_logo.png' %}" id="logoOnLibe" style="width: 100px">
      </a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto" style="margin-right: 30px;">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'about:about' %}" style="font-family: Quicksand; font-size: 20px;"> 
              about us
            </a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'addBook:addbook' %}" style="font-family: Quicksand; font-size: 20px;"> 
              add books
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'search:search' %}" style="font-family: Quicksand; font-size: 20px;"> 
              search
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'userprofile:profile' %}" style="font-family: Quicksand; font-size: 20px;"> 
              profile
            </a>
          </li>

          <li class="nav-item">
            <form class="site-form" action="{% url 'login:logout' %}" method="post">
              {% csrf_token %}
              <a class="nav-link" href="{% url 'login:logout' %}" style="font-family: Quicksand; font-size: 20px;">
                log out
              </a>
            </form>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link active disabled" href="{% url 'login:signin' %}" style="font-family: Quicksand; font-size: 20px;"> 
              sign in
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'login:signup' %}" style="font-family: Quicksand; font-size: 20px;"> 
              sign up
            </a>
          </li>
          {% endif %}

        </ul>
      </div>

    </nav>

    <!-- Bootstrap Card Group -->
    <div class="container" style="margin-top:40px; margin-bottom:40px; padding-right:5%; padding-left:5%;">
      <div class="card-group">

        <!-- Left Card Conatining Quotes -->
        <div class="card text-center text-white" style="background-color:#FD913C; box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25); padding-right: 2%; padding-left: 2%;">
          <div class="card-body d-flex align-items-center justify-content-center">

              <h1 style="font-family: Quicksand; font-weight: bold; font-size: 40px;"> 
                <strong> "BAYAR UTANGMU SEBELUM BANYAK BACOT SOAL UTANG NEGARA" </strong> <br/>
                <small class="text-muted"> ~Joko Widodo / Jokowi~ </small>
                <small class="text-muted"> (Presiden NKRI Ke-7) </small>
              </h1>

          </div>
        </div>

        <!-- Right Card Containing AuthenticationForm -->
        <div class="card" style="box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);">

          <!-- Card Header NavBar -->
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">

              <li class="nav-item">
                <a class="nav-link active disabled" href="{% url 'login:signin' %}" style="font-family: Quicksand; font-size: 30px;">
                  SIGN IN
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'login:signup' %}" style="font-family: Quicksand; font-size: 30px;">
                  SIGN UP
                </a>
              </li>

            </ul>
          </div>

          <!-- Card Body -->
          <div class="container" style="margin-top:40px; margin-bottom:40px">

            <!-- AuthenticationForm -->
            <form action="{% url 'login:signin' %}" method="post">
              {% csrf_token %}

              <fieldset class="form-group">
                <h1 style="font-family: Quicksand; font-weight: bold; font-size: 40px;"> SIGN IN HERE! </h1>
                {{ form|crispy }}
              </fieldset>

              <div class="form-group" >
                <button class="btn text-white" type="submit"
                style="background-color:#FD913C; font-family:Quicksand; font-size:20px">
                  sign in
                </button>
              </div>
        
            </form>

            <div class="border-top pt-3">
              <small class="text-muted">
                Don't Have An Account Yet? <a class="ml-2" href="{% url 'login:signup' %}">Make An Account!</a>
              </small>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>

  </body>

</html>
