{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid prof justify-content-md-center">
    <div class="row">
        <div class="col-md-auto">
            <img id="fotoKelompok" src="{% static 'images/onlibe-text.png' %}"></img>
        </div>
        <div class="col-md-8">
            <div class="container aboutt" id="aboutus">
                <p id="aboutTitle">What is onLibe?</p>
                <p id=aboutText> OnLibe is an online and editable library catalog. We aim to raise literature awareness
                    for young generations. Onlibe provides a service to give reviews so readers can decide what to read
                    next. </p>
            </div>
        </div>
    </div>
</div>
<div class="row testi">
    <div class="col-md-12 justify-content-xs-center">
        <p id=testiTitle>What do they say about us?</p>
    </div>
</div>

<div class="row carous">
    <div class="col-md-12 justify-content-md-center">
        <div class="container carouu">
            <div id="carouselContent" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" id='thecarou'>
                    <!-- {% for testimoni in testimonies %}
                    {% if forloop.counter == 1 %}
                    <div class="carousel-item active text-center p-4">
                        <h2 id="userTestimoni">{{ testimoni.review }}</h2>
                        <p id="userName">{{ testimoni.name}}</p>
                    </div>
                    {% else %}
                    <div class="carousel-item text-center p-4">
                        <h2 id="userTestimoni">{{ testimoni.review }}</h2>
                        <p id="userName">{{ testimoni.name}}</p>
                    </div>
                    {% endif %}
                    {% endfor %} -->
                </div>
                <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class='col-md-12'>
        <div class='form-group'>
            <a href="#" id="addbutton" class="btn btn-revbutton">Give us a review!</a>
        </div>
    </div>
</div>



<!-- MODAL SECTION FOR REVIEW -->
<div class="bg-modal">
    <div class="modal-content">
        <div class="close">+</div>

        {% if user.is_authenticated %}
        <p id="reviewTitle"> Give us a review!</p>
        <form action="/about/" method="POST" class="revForm">
            <div class="form-row">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-10">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="field">
                        <label for="{{field.id_for_label}}" class="label">{{ field.html_name }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-1"></div>
                <input type="submit" class="btn btn-add" id="btnrev" value="Submit">
        </form>

        {% else %}
        <p id="warningSign"> Oh, no! <br> You have to log in first</p>
        <a href="/login/signin/" class="btn btn-log">Log in</a>
        <a href="/login/signup/" class="btn btn-log">Register</a>
        <br>
        {% endif %}

    </div>
</div>

</div>


<script>
    document.getElementById("addbutton").addEventListener('click', function () {
        document.querySelector('.bg-modal').style.display = 'flex';
    })

    document.querySelector('.close').addEventListener('click', function () {
        document.querySelector('.bg-modal').style.display = 'none';
    })
</script>




{% endblock %}