<!DOCTYPE html>
{% load static %}
<html>
    
    <head>
        <title>About us</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css" type="text/CSS">
        <script src="https://code.jquery.com/jquery-3.4.1.js" type="text/javascript"></script>
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/1927c4eb85.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/onlibe_logo.png' %}" style="width: 125px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" style="margin-right: 30px;">
                    <li class="nav-item">
                        <a class="nav-link active" href="/about/">about us</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/addbook/">add books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search/">search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/">profile <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <form class="site-form" action="#" method="post">
                            {% csrf_token %}
                            <a class="nav-link" href="/login/logout/">log out</a>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login/signup/" style="font-family: Quicksand; font-size: 20px;">
                            sign up
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/login/signin/" style="font-family: Quicksand; font-size: 20px;">
                            log in
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        
        {% block content %}
        {% endblock %}
        
        
        <!-- <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.js"></script> -->
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script> -->
            <script src="/static/js/main.js"></script>
            
        </body>