html, body{
    scroll-behavior:smooth;
    overflow-x: hidden;
    width:100%;
    height:100%;
}

h1 {
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 100px;
	line-height: 60px;
	text-align: center;
	font-color: #FFFFFF;
}

a {
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	font-color: black;
}

.navbar {
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
	height: 70px;
	min-height: 60px;
}

#logoOnLibe{
    width:100px;
    height:auto;
}