{% extends 'base_addbook.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

    <div class = "container-fluid">
    <div class = "row">
        <div class = "col-md-7">
            <h1 id = head> Add a book to </h1>
	    </div>
        <div class = "col-md-5">
            <img id ="text-onlibe" src = "{% static 'images/onlibe-text.png' %}">
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-3">
        </div>
        <div class = "col-md-6">
    		<form method = "POST" class = "form">
    			{% csrf_token %}
    			<p> title </p>
    			{{form.title}}
    			<p> author </p>
    			{{form.author}}
            	<p> genre </p>
    			{{form.genre}}
    			<p> publisher </p>
    			{{form.publisher}}
        		<p> synopsis </p>
    			{{form.synopsis}}
    		    <p> </p>
                <button type = "submit" class = "btn btn-primary"/> add book </button>
        	</form>
        </div>
	</div>
    </div>
    {% else %}
    <div class=aaw>
            <h1 id=warning> Oops! You have to log in first</h1>
            <a href="/login/signin/"  class="btn btn-log">Log in</a>
            <br>
            <a href="/login/signup/"  class="btn btn-log">Register</a>
    </div>

{% endif %}
{% endblock %}