<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Add Book | Onlibe</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/addbook_style.css' %}" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/onlibe_logo.png' %}" style="width: 125px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" style="margin-right: 30px;">
            <li class="nav-item">
                <a class="nav-link" href="/about/">about us</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="/addbook/">add books<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search/">search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile/">profile</a>
            </li>
			<li class="nav-item">
                <form class="site-form" action="#" method="post">
                    {% csrf_token %}
                    <a class="nav-link" href="/login/logout/">log out</a>
                </form>
            </li>
            {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/login/signup/" style="font-family: Quicksand; font-size: 20px;"> 
                      sign up 
                  </a>
            </li>

            <li class="nav-item">
                  <a class="nav-link" href="/login/signin/" style="font-family: Quicksand; font-size: 20px;"> 
                      log in 
                  </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block content %}x
{% endblock %}

</body>