{% extends 'base_addbook.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-4">
            <img id="foto" src="{% static 'images/book.png' %}">
        </div>
        <div class="col-md-4">
            <h1 id="title">{{ object.title }}</h1>
        </div>
        <div class="col-md-4">
            <div class = 'form-group'>
                <a href="#" id="addreview" class="btn btn-revbutton">Give a review!</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4" id="tempat_review">
            <p id="details">Author &nbsp &nbsp &nbsp : &nbsp{{ object.author }}</p>
            <p id="details">Publisher &nbsp : &nbsp {{ object.publisher }}</p>
            <p id="details">Genre &nbsp &nbsp &nbsp &nbsp: &nbsp{{ object.genre }}</p>
            <p id="details">Synopsis &nbsp : &nbsp{{ object.synopsis }}</p>
            <!--<p id="details">Review &nbsp &nbsp &nbsp: </p>-->


            <br>
            <br>
            <br>
        </div>
    </div>

    <div class="bg-modal">
        <div class="modal-content">
            <div class="close">+</div>
        <p id="reviewTitle"> Give this book a review!</p>
        <form action="/addbook/{{object.id}}/" method="POST" class="revForm">
            <div class="form-row">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-10">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="field">
                        <label for="{{field.id_for_label}}" class="label">{{ field.html_name }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-1"></div>
                <input type="submit" class="btn btn-add " value="Submit">
        </form>
        </div>
    </div>



    <script>
        document.getElementById("addreview").addEventListener('click', function(){
                document.querySelector('.bg-modal').style.display = 'flex';
        })

        document.querySelector('.close').addEventListener('click', function(){
            document.querySelector('.bg-modal').style.display = 'none';
        })
    </script>
    <script src="/static/js/bookreview.js"></script>


	
	{% else %}
    <div class=aaw>
            <h1 id=warning> Oops! You have to log in first</h1>
            <a href="/login/signin/"  class="btn btn-log">Log in</a>
            <br>
            <a href="/login/signup/"  class="btn btn-log">Register</a>
    </div>


{% endif %}
{% endblock %}