{% extends 'base2.html' %}
{% load static %}


{% block content %}
{% if user.is_authenticated %}
	<h1 id="title2"> Hi, {{ user.username }}. Here's your book Wishlist. </h1>
	<h2 id="books"> My Wishlist</h2>
    {% for wish in wishlist %}
        <div class = "col-sm-4 text-center">
            <div class = "container-fluid">
                <div class = "jumbotron">
                <h2><a href="/addbook/{{wish.id}}/">{{wish.title}}</a></h2>
                    <div class="flex">
                    <p> Author      : {{wish.author}} </br>
                    Genre       : {{wish.genre}}</br>
                    Publisher   : {{wish.publisher}}</br>
                    Synopsis    : {{wish.synopsis}}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
	{% else %}
    <div class=aaw>
            <h1 id=warning> Oops! You have to log in first</h1>
            <a href="/login/signin/"  class="btn btn-log">Log in</a>
            <br>
            <a href="/login/signup/"  class="btn btn-log">Register</a>
    </div>


{% endif %}
{% endblock %}