{% extends 'base_search.html' %}
{% load static %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script src="/static/js/search.js"></script>


<body>
    {% if user.is_authenticated %}
    <h1> find your book! </h1>
    <div id = "search_holder">
        <input id = "search_bar" placeholder="Search..">
        <button type = "button" id = "post" class = "btn btn-primary"> Search </button>
    <div>
    <div class = "row" id =show_buku>

    </div>
    
    {% else %}
    <div class=aaw>
            <h1 id=warning> Oops! You have to log in first</h1>
            <a href="/login/signin/"  class="btn btn-log">Log in</a>
            <br>
            <a href="/login/signup/"  class="btn btn-log">Register</a>
    </div>
    
    {% endif %}
</body>
{% endblock %}