html, body{
	scroll-behavior: smooth;
	overflow-x: hidden;
	width : 100%;
	height : 100%;
}

h1{
	text-align : center;
	font-family : "quicksand";
	font-style : "normal";
	font-weight : bold;
	font-size : 50px;
	margin-top : 30px;
	color: #FD913C;
}

h2 {
	font-family : "quicksand";
}

p {
	font-family : "quicksand";
}

#search_bar{
	margin-left : auto;
	margin-right: auto;
	width : 500px;
	border-radius: 5px;
	padding-left : 5px;
}

#search_holder {

	text-align: center;
}


.jumbotron {
	padding : 20px;
	margin : 30px;
}

.nav-link{
    font-family: "quicksand";
}


#warning{
	left : 50%; 
	top : 50%;
	margin: auto; 
}

.btn-log{
    margin: auto;
    background-color: #44459F;
    color : white;
    border-radius: 5px;
    width : 30%;
    margin-top : 2%;
    margin-bottom : 2%;
}

.aaw{
	margin:auto;
    align-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

{% endif %}
